body {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0px;
  min-height: 100dvh;
  min-width: 100dvw;
  scroll-behavior: smooth;
  height: 100dvh;
  width: 100dvw;
  /* background-color: black; */
  /* color: rgb(215, 229, 241); */
  display: flex;
  align-items: center;
  justify-content: center;
}